*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins', sans-serif;
/*color:white;*/
}

/* HERO SECTION */

.hero{
height:100vh;
width:100%;
background-image: url("../images/HomeHero.jpg");
background-size: cover;
background-position: center;
position: relative;
display:flex;
flex-direction:column;
}

/* DARK OVERLAY */

.hero::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.35);
z-index:1;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
width:100%;
z-index:1000;
background: transparent;
}

.nav-links a{
color:white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  height: 40px;
  width: auto;
}

.nav-links{
list-style:none;
display:flex;
gap:30px;
}

.nav-links a{
text-decoration:none;
color:white;
font-size:15px;
position:relative;
transition:0.3s;
}

/* HOVER EFFECT */

.nav-links a:hover{
color:#ffb089;
}

.nav-links a::after{
content:"";
position:absolute;
left:0;
bottom:-5px;
width:0%;
height:2px;
background:#ffb089;
transition:0.3s;
}

.nav-links a:hover::after{
width:100%;
}

/* NAV BUTTON */

.nav-btn{
background:white;
color:black;
padding:8px 18px;
border-radius:6px;
text-decoration:none;
font-size:14px;
transition:0.3s;
}

.nav-btn:hover{
background:#ffb089;
color:white;
}

/* HAMBURGER */

.hamburger{
display:none;
font-size:26px;
cursor:pointer;
color: #111;
}

@media (max-width: 768px){

.navbar{
padding:20px;
}

/* hide normal menu */

.nav-links{
position:absolute;
top:70px;
left:0;
width:100%;
background:white;

flex-direction:column;
align-items:center;
gap:20px;

padding:20px 0;

display:none;
}

/* show when active */

.nav-links.active{
display:flex;
}

.nav-links a{
color:#222;
}

/*.nav-btn{
display:none;
}*/

.hamburger{
display:block;
}

}


/* HERO CONTENT */

.hero-content{
flex:1;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
z-index:2;
}

.hero-content h1{
font-family:'Playfair Display', serif;
font-size:64px;
line-height:1.2;
margin-bottom:20px;
}

.hero-content p{
font-size:18px;
max-width:600px;
margin-bottom:30px;
color:#eee;
}


/* HERO BUTTONS */

.hero-buttons{
display:flex;
gap:20px;
}

.primary-btn{
background:white;
color:black;
padding:12px 26px;
border-radius:6px;
text-decoration:none;
font-weight:500;
transition:0.3s;
}

.primary-btn:hover{
background:#ffb089;
color:white;
}

.secondary-btn{
border:1px solid white;
padding:12px 26px;
border-radius:6px;
text-decoration:none;
color:white;
transition:0.3s;
}

.secondary-btn:hover{
background:white;
color:black;
}

/* SERVICES SECTION */

.services{
padding:100px 80px;
background: #f7f7f7;
text-align:center;
color:#222;
}

.services-header h2{
font-family:'Playfair Display', serif;
font-size:42px;
margin-bottom:10px;
}

.services-header p{
color:#666;
margin-bottom:60px;
}

/* CARDS CONTAINER */

.services-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

/* SERVICE CARD */

.service-card{
background:white;
padding:40px;
width:320px;
border-radius:10px;
border:1px solid transparent;
text-align:left;
transition:all 0.3s ease;
}

/* ICON */

.icon{
width:50px;
height:50px;
border-radius:50%;
background:#f1f1f1;
display:flex;
align-items:center;
justify-content:center;
font-size:20px;
margin-bottom:20px;
transition:all 0.3s ease;
}

/* CARD TITLE */

.service-card h3{
font-family:'Playfair Display', serif;
margin-bottom:10px;
}

/* CARD TEXT */

.service-card p{
color:#666;
font-size:14px;
line-height:1.6;
}

/* HOVER EFFECT */

.service-card:hover{
border:1px solid #ffb089;
transform:translateY(-5px);
}

/* ICON COLOR CHANGE */

.service-card:hover .icon{
background:#ffb089;
color:white;
}

/* PORTFOLIO SECTION */

.portfolio{
padding:100px 40px;
background: white;
text-align:center;
}

.portfolio-header h2{
font-family:'Playfair Display', serif;
font-size:42px;
margin-bottom:10px;
color: black;
}

.portfolio-header p{
color:#666;
margin-bottom:60px;
}

/* GRID */

.portfolio-grid{
display:grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap:25px;
}

/* CARD */

.portfolio-card{
position:relative;
overflow:hidden;
border-radius:10px;
cursor:pointer;
min-width: 300px;
}

/* IMAGE */

.portfolio-card img{
width:100%;
height:420px;
object-fit:cover;
transition:transform 0.5s ease;
}

/* OVERLAY */

.portfolio-overlay{
position:absolute;
bottom:0;
left:0;
width:100%;
height:100%;
background:linear-gradient(
transparent 60%,
rgba(0,0,0,0.6)
);
display:flex;
align-items:flex-end;
padding:20px;
opacity:0;
transition:0.4s;
}

.portfolio-overlay span{
color:white;
font-size:16px;
font-weight:500;
}

/* HOVER EFFECT */

.portfolio-card:hover img{
transform:scale(1.08);
}

.portfolio-card:hover .portfolio-overlay{
opacity:1;
}

/* BUTTON */

.portfolio-btn{
margin-top:50px;
}

.portfolio-btn a{
background:#111;
color:white;
padding:12px 26px;
border-radius:6px;
text-decoration:none;
transition:0.3s;
}

.portfolio-btn a:hover{
background:#ffb089;
}

/* TESTIMONIALS SECTION */

.testimonials{
padding:100px 80px;
background:#f6f6f6;
text-align:center;
}

.testimonials-header h2{
font-family:'Playfair Display', serif;
font-size:42px;
margin-bottom:10px;

}

.testimonials-header p{
color:#666;
margin-bottom:60px;
}

/* GRID */

.testimonials-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

/* CARD */

.testimonial-card{
background:white;
padding:35px;
width:320px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.05);
text-align:left;
}

/* STARS */

.stars{
color:#e0c097;
font-size:18px;
margin-bottom:15px;
}

/* TEXT */

.testimonial-card p{
color:#555;
font-size:14px;
line-height:1.6;
margin-bottom:20px;
}

/* NAME */

.testimonial-card h4{
margin-bottom:5px;
font-weight:600;
}

/* ROLE */

.testimonial-card span{
font-size:13px;
color:#888;
}

/* CTA SECTION */

.cta{
padding:100px 20px;
margin:auto;
text-align:center;
background:#e7dfd8;
}

.cta h2{
font-family:'Playfair Display', serif;
font-size:42px;
margin-bottom:15px;
color: #111;
}

.cta p{
color:#666;
max-width:600px;
margin:0 auto 35px;
line-height:1.6;
}

.cta-btn {
  display: inline-block;
  background:#111;
  color:white;
  padding:14px 30px;
  border-radius:6px;
  text-decoration:none;
  font-weight:500;
  transition:0.3s;
  text-align: center;
}

.cta-btn:hover{
background:#ffb089;
}

@media (max-width: 768px) {
  .cta-btn {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}

/* FOOTER */

.footer{
background:#111;
color:#ddd;
padding:70px 80px 20px;
}

.footer-container{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
gap:40px;
margin-bottom:40px;
}

.footer-col{
max-width:250px;
}

.footer-col h3{
font-family:'Playfair Display', serif;
margin-bottom:15px;
}

.footer-col h4{
margin-bottom:15px;
}

.footer-col p{
font-size:14px;
line-height:1.6;
color:#bbb;
}

.footer-col ul{
list-style:none;
}

.footer-col ul li{
margin-bottom:8px;
}

.footer-col ul li a{
color:#bbb;
text-decoration:none;
transition:0.3s;
}

.footer-col ul li a:hover{
color:#ffb089;
}

/* FOOTER BOTTOM */

.footer-bottom{
border-top:1px solid #333;
padding-top:15px;
text-align:center;
font-size:13px;
color:#888;
}


/* PRICING SECTION */

.pricing{
padding:120px 80px;
background:#f7f7f7;
text-align:center;
}

.pricing-header h1{
font-family:'Playfair Display', serif;
font-size:42px;
margin-bottom:10px;
}

.pricing-header p{
color:#666;
margin-bottom:70px;
}

/* CARDS LAYOUT */

.pricing-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

/* CARD */

.price-card{
background:white;
padding:40px;
width:320px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.05);
text-align:left;
position:relative;
transition:0.3s;
}

.price-card h3{
font-family:'Playfair Display', serif;
margin-bottom:10px;
}

.package-desc{
color:#666;
font-size:14px;
margin-bottom:20px;
}

.price{
font-size:32px;
font-weight:600;
margin-bottom:20px;
}

/* LIST */

.price-card ul{
list-style:none;
margin-bottom:25px;
}

.price-card ul li{
margin-bottom:8px;
color:#555;
font-size:14px;
}

/* BUTTON */

.price-btn{
display:inline-block;
background:#111;
color:white;
padding:12px 24px;
border-radius:6px;
text-decoration:none;
transition:0.3s;
}

.price-btn:hover{
background:#ffb089;
}

/* POPULAR CARD */

.price-card.popular{
border:2px solid #ffb089;
transform:scale(1.05);
}

/* BADGE */

.badge{
position:absolute;
top:-12px;
left:50%;
transform:translateX(-50%);
background:#ffb089;
color:white;
font-size:12px;
padding:4px 12px;
border-radius:20px;
font-weight:500;
}

/* FAQ SECTION */

.faq{
padding:100px 80px;
background:#ffffff;
}

.faq-header{
text-align:center;
margin-bottom:60px;
}

.faq-header h2{
font-family:'Playfair Display', serif;
font-size:40px;
color: #111;
}

/* QUESTIONS */

.faq-container{
max-width:800px;
margin:0 auto 80px auto;
color: #111;

}

.faq-item{
margin-bottom:30px;
background-color: #eeeaeaaf;
padding: 5px;
}

.faq-item h4{
margin-bottom:8px;
font-weight:600;

}

.faq-item p{
color:#666;
line-height:1.6;
font-size:14px;
}

/* MODAL BACKGROUND */

.booking-modal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
display:none;
justify-content:center;
align-items:center;
z-index:2000;
}

/* BLUR OVERLAY */

.modal-overlay{
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.3);
backdrop-filter:blur(6px);
}

/* MODAL BOX */

.modal-box{
position:relative;
background:white;
width:600px;
max-height:90vh;
overflow-y:auto;
border-radius:10px;
padding:30px;
z-index:2;
}

/* HEADER */

.modal-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.modal-header h2{
font-family:'Playfair Display', serif;
}

.close-btn{
cursor:pointer;
font-size:20px;
}

/* FORM */
.booking-modal{
    color: #111;
}
.form-row{
display:flex;
gap:20px;
}

.form-group{
flex:1;
display:flex;
flex-direction:column;
margin-bottom:15px;
}

.form-group label{
font-size:14px;
margin-bottom:5px;
}

.form-group input,
.form-group select,
.form-group textarea{
padding:10px;
border:1px solid #ddd;
border-radius:6px;
font-size:14px;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus{
outline:none;
border-color:#ffb089;
}

/* BUTTONS */

.form-actions{
display:flex;
justify-content:flex-end;
gap:15px;
margin-top:15px;
}

.cancel-btn{
background:#eee;
border:none;
padding:10px 18px;
border-radius:6px;
cursor:pointer;
}

.submit-btn{
background:#111;
color:white;
border:none;
padding:10px 18px;
border-radius:6px;
cursor:pointer;
}

.submit-btn:hover{
background:#ffb089;
}

/* CONTACT SECTION */

.contact-section{
padding:80px 10%;
background: #f7f7f7;
color: #111;
}

.section-header{
text-align:center;
margin-bottom:50px;
}

.section-header h2{
font-family:'Playfair Display', serif;
font-size:40px;
margin-bottom:10px;
}

.section-header p{
color:#666;
}

/* GRID */

.contact-grid{
display:grid;
grid-template-columns:1.2fr 1fr;
gap:50px;
}

/* FORM BOX */

.contact-form-box{
background:white;
padding:30px;
border-radius:10px;
}

.contact-form-box h3{
margin-bottom:20px;
}

/* INFO */

.contact-info h3{
margin-bottom:20px;
}

.info-item{
margin-bottom:25px;
}

.info-item strong{
display:block;
margin-bottom:5px;
}

.info-item p{
margin:0;
}

.info-item span{
font-size:13px;
color:#777;
}

/* SOCIALS */

.socials span{
margin-right:10px;
font-size:20px;
cursor:pointer;
}

/* RESPONSIVE */

@media(max-width:768px){
.contact-grid{
grid-template-columns:1fr;
}
}

.about-story{
padding:80px 10%;
}

.about-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:50px;
align-items:center;
}

.about-text h2{
font-family:'Playfair Display', serif;
margin-bottom:20px;
}

.about-text p{
margin-bottom:15px;
color:#555;
line-height:1.6;
}

.about-image img{
width:100%;
border-radius:10px;
}

/* responsive */
@media(max-width:768px){
.about-grid{
grid-template-columns:1fr;
}
}

/* FILTER BUTTONS */

.portfolio-filters{
text-align:center;
margin-bottom:40px;
}

.filter-btn{
padding:10px 20px;
margin:5px;
border:none;
background:#eee;
cursor:pointer;
border-radius:20px;
}

.filter-btn.active{
background:#f4a261;
color:white;
}

/* GRID */

.portfolio-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
margin: 20px 20px;
}

.portfolio-item{
overflow:hidden;
cursor:pointer;
}

.portfolio-item img{
width:100%;
height: 600px;
object-fit: cover;
transition:0.3s;
}

.portfolio-item:hover img{
transform:scale(1.05);
}

/* LIGHTBOX */

.lightbox{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
display:none;
justify-content:center;
align-items:center;
z-index:1000;
}

.lightbox img{
max-width:80%;
max-height:80%;
border-radius:10px;
}

.close-lightbox{
position:absolute;
top:20px;
right:30px;
font-size:40px;
color:white;
cursor:pointer;
}

/* RESPONSIVE */

@media(max-width:768px){
.portfolio-grid{
grid-template-columns:1fr 1fr;
}
}

@media(max-width:600px){
.portfolio-grid{
grid-template-columns:1fr;
}
}

.feedback-section{
padding:80px 10%;
background:#f7f7f7;
}

.feedback-box{
max-width:600px;
margin:auto;
background:white;
padding:30px;
border-radius:10px;
}

/* ⭐ RATING */

.rating span{
font-size:28px;
cursor:pointer;
color:#ccc;
margin-right:5px;
transition:0.2s;
}

.rating span.active{
color:#f4a261;
}

.error {
  color: #ff4d4d;
  font-size: 0.8rem;
}

.submit-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}